USE [master]
GO
/****** Object:  Database [constru-tech]    Script Date: 24/08/2023 2:24:11 a. m. ******/
CREATE DATABASE [constru-tech]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'constru-tech', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\constru-tech.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'constru-tech_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\constru-tech_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [constru-tech].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [constru-tech]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[idCli] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[cedula] [varchar](50) NOT NULL,
	[fecha_nac] [varchar](50) NOT NULL,
	[estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[libro]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[libro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NULL,
	[autor] [varchar](50) NULL,
	[genero] [varchar](50) NULL,
	[fechapublicacion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prestamo]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prestamo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idlibro] [int] NULL,
	[iduser] [int] NULL,
	[fechainicio] [varchar](255) NULL,
	[fechafin] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[prestamo]  WITH CHECK ADD FOREIGN KEY([idlibro])
REFERENCES [dbo].[libro] ([id])
GO
ALTER TABLE [dbo].[prestamo]  WITH CHECK ADD FOREIGN KEY([iduser])
REFERENCES [dbo].[clientes] ([idCli])
GO
/****** Object:  StoredProcedure [dbo].[editarCliente]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editarCliente] (
@idCli int,
@nombre varchar(50),
@email varchar(50),
@direccion varchar(50),
@telefono varchar(50),
@cedula varchar(50),
@fecha_nac varchar(50),
@estado int
)
AS
BEGIN
	update clientes SET nombre = @nombre, email = @email, direccion = @direccion, telefono = @telefono, cedula = @cedula, fecha_nac = @fecha_nac, estado = @estado
END	
GO
/****** Object:  StoredProcedure [dbo].[editarLibro]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editarLibro](
@id int,
@titulo varchar(50),
@autor varchar(50),
@genero varchar(50),
@fechapublicacion varchar(50)
)
AS
BEGIN 
	UPDATE libro SET titulo = @titulo, autor = @autor, genero = @genero, fechapublicacion = @fechapublicacion 
	WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[editarPrestamo]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editarPrestamo](
@id int,
@idlibro int,
@iduser int,
@fechainicio varchar(255),
@fechafin varchar(255)
)
AS
BEGIN
	UPDATE prestamo SET idlibro = @idlibro, iduser = @iduser, fechainicio = @fechainicio, fechafin = @fechafin
	WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[editCliente]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editCliente] (
@idCli int,
@nombre varchar(50),
@email varchar(50),
@direccion varchar(50),
@telefono varchar(50),
@cedula varchar(50),
@fecha_nac varchar(50),
@estado int
)
AS
BEGIN
	update clientes SET 
	nombre = @nombre, email = @email, direccion = @direccion, telefono = @telefono, cedula = @cedula, fecha_nac = @fecha_nac, estado = @estado
	WHERE idCli = @idCli
END	
GO
/****** Object:  StoredProcedure [dbo].[eliminarCliente]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarCliente] (
@idCli int
)
AS 
BEGIN
	delete FROM clientes WHERE idCli = @idCli
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarLibro]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarLibro](
@id int
)
AS
BEGIN
	DELETE FROM libro WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarPrestamo]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarPrestamo](@id int)
AS
BEGIN
	DELETE FROM prestamo WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[guardarCliente]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[guardarCliente](
@nombre varchar(50),
@email varchar(50),
@direccion varchar(50),
@telefono varchar(50),
@cedula varchar(50),
@fecha_nac varchar(50),
@estado int
)
AS 
BEGIN
	INSERT INTO clientes(nombre,email,direccion,telefono,cedula,fecha_nac,estado) VALUES(@nombre,@email,@direccion,@telefono,@cedula,@fecha_nac,@estado)
END;
GO
/****** Object:  StoredProcedure [dbo].[guardarLibro]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[guardarLibro](
@titulo varchar(50),
@autor varchar(50),
@genero varchar(50),
@fechapublicacion varchar(255)
)
AS
BEGIN
	INSERT INTO libro (titulo,autor,genero,fechapublicacion) 
	VALUES (@titulo,@autor,@genero,@fechapublicacion)
END
GO
/****** Object:  StoredProcedure [dbo].[guardarPrestamo]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[guardarPrestamo](
@idlibro int,
@iduser int,
@fechainicio varchar(255),
@fechafin varchar(255)
)
AS
BEGIN
	INSERT INTO prestamo(idlibro,iduser,fechainicio,fechafin) 
	VALUES (@idlibro,@iduser,@fechainicio,@fechafin)
END
GO
/****** Object:  StoredProcedure [dbo].[listarClientes]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[listarClientes]
AS
BEGIN
	SELECT * FROM clientes
END;
GO
/****** Object:  StoredProcedure [dbo].[listarLibros]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[listarLibros]
AS 
BEGIN 
	SELECT *FROM libro
END
GO
/****** Object:  StoredProcedure [dbo].[listarPrestamos]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[listarPrestamos]
AS
BEGIN
	SELECT *FROM prestamo
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCliente]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerCliente](
@idCli int
)
AS 
BEGIN
	SELECT * FROM clientes WHERE idCli = @idCli
END;
GO
/****** Object:  StoredProcedure [dbo].[obtenerLibro]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[obtenerLibro](
@id int
)
AS 
BEGIN
	SELECT *FROM libro WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[obtenerPrestamo]    Script Date: 24/08/2023 2:24:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[obtenerPrestamo](
@id int
)
AS
BEGIN
	SELECT *FROM prestamo WHERE id = @id
END
GO
USE [master]
GO
